<%- include('components/header.ejs') %>

<h1>
    Welcome to the home page
</h1>

<label>
    List of products
</label>

<ul>
    <% products.forEach(item => { %>  
        <li><%= item.title %></li>


        <% if(item.title=== 'Product 1') {%>  
            <h1>Test to check the loop</h1> 
            <% } %>
    <% }) %>


</ul>

<%- include('components/footer.ejs') %>